# 엑셀파일 불러와서 csv 파일로 변환
* pandas, openpyxl 라이브러리 다운 필요
* to_csv(index=False)를 통해서 excel로 불러왔던 데이터프레임을 csv 파일로 변환

In [7]:
import pandas as pd
df = pd.read_excel('./202201_dropna.xlsx')

In [8]:
df.to_csv('./202201.csv', index=False, encoding = 'utf-8-sig')

In [9]:
df1 = pd.read_csv('./202201.csv', index_col=0, encoding="utf-8-sig")

In [1]:
# df1

## data_splitting.py 파일을 실행해서 데이터를 쪼갭니다.(해당 파일의 batch 라는 변수 값을 수정해서 몇 개씩 쪼갤지를 정합니다.)
* 예시 : batch =10000 이면, 10000개씩 쪼갠다는 의미/  총 60,000개의 데이터인 경우, batch=10000이면, 6개의 batch 가 생겨나는 거.
---

## address_api_V4.py 를 실행
### input을 입력해줘야 함.
1. 폴더명 (202201)
2. 세부 폴더명(202201 이라는 전체 데이터를 data_splitting.py로 쪼갠 이후에 생겨난 세부 데이터들의 폴더명을 입력)
**이 과정을 반복해서 전체 쪼개진 데이터에 대해서 주소 변환을 수행**
---

## 쪼개진 데이터를 merge
### 아래 코드 참조.

In [2]:
import pandas as pd
checking = pd.read_csv('./202201/2/2.csv', index_col=0)

In [4]:
checking['n_addr']

연번
99646982    부산광역시 남구 수영로325번길 159-30
99646985     부산광역시 남구 황령대로319번가길 142
99646988           부산광역시 남구 장고개로 108
99646991        부산광역시 남구 전포대로20번길 15
99646994            부산광역시 남구 수영로 261
                      ...
99581402        부산광역시 수영구 감포로48번길 10
99428552         부산광역시 강서구 생곡산단1로 28
99406127     부산광역시 동래구 중앙대로1473번길 13
99327887           부산광역시 수영구 수영로 641
99256208         부산광역시 금정구 신천로 53-15
Name: n_addr, Length: 67, dtype: object

### 원본 데이터프레임과 주소변환이 완료된 데이터프레임을 concat 시켜서 변환된 데이터프레임이 비동기 처리로 인해서 인덱스의 순서가 뒤죽박죽이지는 않은지 확인해보기

In [11]:
import pandas as pd
df1 = pd.read_csv('./202201/1/1.csv')
df2 = pd.read_csv('./202201/1/final_address_1.csv')

In [1]:
# df1.head()

In [14]:
df_sim = pd.concat([df1.loc[:,'n_addr'], df2], axis=1)
df_sim

                       n_addr    시/도 시/군/구 읍/면/동
0        부산광역시 서구 대영로105번길 20  부산광역시    남구   대연동
1          부산광역시 서구 대영로 92-10  부산광역시  해운대구   반여동
2        부산광역시 서구 천마로186번길 25  부산광역시  부산진구   부전동
3       부산광역시 서구 충무대로177번길 13  부산광역시  부산진구   범천동
4            부산광역시 서구 충무대로 64  부산광역시   연제구   거제동
...                       ...    ...   ...   ...
4995        부산광역시 북구 금곡대로 166    NaN   NaN   NaN
4996       부산광역시 해운대구 달맞이길 30    NaN   NaN   NaN
4997       부산광역시 해운대구 달맞이길 23    NaN   NaN   NaN
4998  부산광역시 해운대구 송정중앙로15번길 41    NaN   NaN   NaN
4999       부산광역시 북구 화명신도시로 70    NaN   NaN   NaN

[5000 rows x 4 columns]